@charset "UTF-8";
/*body {*/
/*	padding-left: 20px;*/
/*}*/
/*table, th, td {*/
/*	border:1px solid black;*/
/*}*/
/*th, td {*/
/*	height: 50px;*/
/*	width: 100px;*/
/*}*/

/*body {*/
/*	background-image: url('../images/background3.png'); !* 更改為您的圖片路徑 *!*/
/*	background-size: cover; !* 背景圖片覆蓋整個頁面 *!*/
/*	background-repeat: no-repeat; !* 背景圖片不重複 *!*/
/*}*/

/* 整體字體樣式 */
body {
	font-family: 'Arial', sans-serif;
	color: #333;
	line-height: 1.6;
	background-color: white;
	padding: 20px;
}

/* 表單樣式 */
form {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
}

.form-button {
	all: initial;
}

/* 輸入框樣式 */
input[type="text"],
input[type="date"],
input[type="number"],
input[name="applicationStat"],
input[type="time"],
select {
	width: 30%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

/* 按鈕樣式 */
button {
	background-color: #5cb85c;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #449d44;
}

/* 標題樣式 */
h1 {
	color: #333;
}

/* 錯誤訊息樣式 */
.error {
	color: red;
	font-weight: bold;
}

/* 說明文字 */
.help-text {
	font-size: 0.9em;
	color: #666;
}

/* 預覽圖片樣式 */
#signaturePhotoShow {
	max-width: 35%;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
}

/* 表格樣式 */
table {
	width: 100%; /* 根據需求設定表格寬度 */
	border-collapse: collapse; /* 移除格子間的空隙 */
	margin-top: 20px; /* 在表格上方添加一些空隙 */
	font-weight: bold;
}

/* 表頭和單元格樣式 */
th, td {
	border: 1px solid #ddd; /* 給表格添加邊框 */
	padding: 8px; /* 在單元格內添加內邊距 */
	/*text-align: center; !* 文字居中 *!*/
	font-size: 16px; /* 設定合適的字體大小 */
	font-weight: bold;
	text-align: center; /* 文字居中 */
	white-space: nowrap;
}

/* 特別突出顯示日期格式的單元格 */
.date-cell {
	font-size: 18px; /* 增加日期格的字體大小 */
	font-weight: bold; /* 可選：使字體加粗以增加突出效果 */
}

/* 表格標題樣式 */
th{
	background-color: #4CAF50;
	color: white;
}

/* 特別突出顯示日期格式的單元格 */
.date-cell {
	white-space: nowrap; /* 防止內容換行 */
	font-size: 16px; /* 根據需要調整字體大小 */
}

/* 表格行懸停樣式，加上過渡效果 */
tr {
	transition: background-color 0.3s; /* 平滑過渡效果 */
}

tr:hover {
	background-color: #e0f7fa; /* 鼠標懸停時的背景色 */
}

.notes-cell {
	max-width: 200px; /* 根據您的實際字體大小和字數調整 */
	white-space: nowrap;
}

.notes-header {
	max-width: 200px; /* 相同的最大寬度設定 */
	white-space: nowrap;
}

.fixed-button {
	position: fixed; /* 固定位置 */
	bottom: 10px; /* 距离底部20像素 */
	left: 10px; /* 距离右边20像素 */
	/* 您可以根据需要调整上面的像素值 */

	/* 其他样式，例如： */
	padding: 10px 20px; /* 按钮内填充 */
	background-color: orange; /* 背景颜色 */
	color: darkolivegreen; /* 文字颜色 */
	border: none; /* 无边框 */
	border-radius: 5px; /* 圆角边框 */
	cursor: pointer; /* 鼠标指针变成手形 */
	font-weight: bold;
	font-size: 16px
}

.fixed-button:hover {
	background-color: orangered; /* 鼠标悬停时的背景色 */
}

.table-button {
	background-color: orange; /* 背景颜色 */
	color: darkolivegreen; /* 文字颜色 */
	border: none; /* 无边框 */
	border-radius: 5px; /* 圆角边框 */
	font-weight: bold;
	font-size: 14px;
	transform: scale(1.3);
	height: 35px; /* 設定按鈕的高度 */
}

.table-button:hover {
	background-color: orangered; /* 鼠标悬停时的背景色 */
}