* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.hero-section#forgot{
	height: 100vh;
    background: url(../img/bg.png) no-repeat center center / cover;
}
.hero-section#forgot  > :first-child {
	width: 400px;
	margin-top: -90px;
/* 	margin: auto; */
	text-align: center;
	position: relative;
}
#msform fieldset {
	background-color: rgba(0, 0, 0, 0.6);
	border: 5px solid #fff;
	border-radius: 25px;
	box-shadow: 0 0 20px #000;
    backdrop-filter: blur(5px);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
    margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}
h4 { 
     /*忘記密碼*/ 
     color: #422E2F; 
     text-align: center; 
     font-size: 25px; 
 } 
 #msform fieldset:not(:first-of-type) {
	display: none;
}

/*輸入框*/
#msform input{
	padding: 15px;
	border: 1px solid #e4e3e3;
	border-radius: 8px;
	margin-bottom: 10px;
	width: 100%;
    height: 40px;
	box-sizing: border-box;
	font-family: montserrat;
	font-size: 15px;
}

#msform input:focus {
    outline: none; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); 
}


/*buttons*/
#msform .next-action-button {
	width: 60px;
	background: #FAE899;
	font-weight: bold;
	color: #422E2F;
	border: 0 none;
	border-radius: 15px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

#msform .next-action-button:hover, #msform .next-action-button:focus {
	background-color: #bae5f3fb;
    box-shadow: 0 1px 4px rgba(64, 64, 64, 1);
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #422E2F;
    margin-top:15px;
	margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

/*步驟指示條*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
}
#progressbar li {/*步驟說明字體*/
	list-style-type: none;
	color: #422E2F;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
    font-size:12px;
    margin-left: -8px; 
    
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width:20px;
	line-height: 20px;
	display:block;
	font-size: 10px;
	color: #422E2F;
	background: #FAE899;
	border-radius: 3px;
	margin: 0 auto 5px auto;
    font-size: 13px;
    box-shadow: 0 1px 4px rgba(64, 64, 64, .5);
    position: relative;
    z-index:5;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #FAE899;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: 4;
    box-shadow: 0 1px 4px rgba(64, 64, 64, .5);
}
#progressbar li:first-child:after {
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #bae5f3fb;
	color: #422E2F;
    font-size:13px;
    box-shadow: 0 1px 4px rgba(64, 64, 64, .5);
}

#msform input[name="pass"] {
    margin-bottom: 13px; /* 增加底頂部間距 */
}

#msform input[name="cpass"] {
    margin-top: 13px; /* 增加頂部間距*/
}
/*密碼長度笑臉*/
input {
  font: inherit;
  outline: 0;
} 

.form__field {
  position: relative;
}

.form__field .icon {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%)
}

.form__input {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 2px;
  font-size: 4rem;
  padding: 0.5em 4em 0.5em 2em;
} 

.form__input:valid + .icon::after { 
  content: '😃';
  font-size: 1.5rem; 
}

.form__input:invalid + .icon::after {
  content: '😳';
  font-size: 1.5rem; 
}