
/***********登入畫面***********/
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hero-section{
    background:url(../img/bg.png) no-repeat center center / cover;
    height: 100vh;
}

.hero-section > :first-child {
    width: 400px;
    height: 480px;
    padding: 50px;
    background-color: rgba(#000, 0.6);
    border-radius: 60px;
    border: 5px solid #fff;
    box-shadow: 0 0 30px #000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    /*會員登入*/
    color: #422E2F;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.form {
    width: 90%;
}

label.form-label {
    /* 帳號&密碼 */
    color: #422E2F;
    margin: 0;
    padding: 10px 5px 2px;
    font-size: 18px;
}

#rmbr {
    /*記住我 */
    color: #422E2F;
    text-align: right;
    padding: 0;
    margin-bottom: 5px;
    height: 20px;
}

.login_btn {
    /*登入*/
    padding: 13px 5px 0px;
    color: #422E2F;
    text-align: center;
}

.btnAccess {
    /*登入*/
    color: #422E2F;
    background-color: #FAE899;
    border: 1px solid  rgba(#eeeaea, 0.5);
    
}

.btnAccess:hover {
	 /*登入*/
    background-color: #bae5f3fb;
    box-shadow: 0 1px 4px rgba(64, 64, 64, 1);
}

#btn-group-login a{
    /* 會員註冊&忘記密碼 */
    width: 133px;
    background-color: #999898 !important;
    border: 1px solid #c0bebe !important;
    text-align: center;
}

#btn-group-login a:hover,
#btn-group-login aactive {
	 /* 會員註冊&忘記密碼 */
    background-color: #656767fb !important;
    border: 1px solid #6b6a6a !important;
}

.facebook-icon {
	/* 透過facebook登入 */
    width: 65%; 
    height: auto; 
    border-radius: 5px;
}

.error-message {
    color: red;
    float: right;
    font-size: 15px;
     margin-top: 13px;
}
	/*隱藏密碼 */
.form-label {
      position: relative;
}
	/*隱藏密碼 */
.password-toggle{
         position: absolute;
         top: 61%;
         right: 73px; 
         transform: translateY(-50%); 
		 cursor: pointer; 
		 width: 24px;
}
