<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>前台接收消息</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<!--     <link href="css/bootstrap-icons.css" rel="stylesheet"> -->
    
</head>
<body>
   <h2>前台接收消息</h2>
<!-- 	<div id="messageList" ></div> -->
    <div class="navbar-nav me-lg-2">
        <div class="nav-item text-nowrap d-flex align-items-center">
            <div class="dropdown ps-3">
                <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-bell"></i>
                    <span class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </a>

                <ul class="dropdown-menu notifications-block-wrap bg-white shadow">
                    <small>Notifications</small>

                    <li class="notifications-block border-bottom pb-2 mb-2">
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="notifications-icon-wrap">
                                <i class="notifications-icon bi-check-circle-fill"></i>
                            </div>

                            <div id="messageList" ></div> 
                            	
                        </a>
                    </li>

                    <li class="notifications-block">
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <div class="notifications-icon-wrap bg-danger">
                                <i class="notifications-icon bi-question-circle"></i>
                            </div>

                            <div>
                                <span>Account verification failed.</span>

                                <p>1 hour ago</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>  

	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script>
    const socket = new SockJS('/CHA103G5/ws'); // 连接到WebSocket端点
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/messages', function (response) {
        	console.log("rr");
            const message = JSON.parse(response.body);
            $('#messageList').append(('<li class="notifications-block border-bottom pb-2 mb-2">' + message.message + '</li>'));
        });
    });

   
</script>
</body>
</html>
