
/***********Banner***********/
.navbar {
	position: sticky;
	top: 0;
	z-index: 1000; /*確定導覽列在其他元素上層顯示 */
	background-color: #FAE899;
}

.nav-item, .nav-item dropdown {
	color: #422E2F;
	font-size: 17px;
}

.nav-item:hover, .nav-item dropdown:hover {
	color: #262626;
	font-size: 21px;
}

.narrow-div {
    width: 70px; 
}

#logoutIcon {
	width: 77%;
	height: auto;
	display: none;
	float: right;
}
#logoutIcon1 {
	width: 35%;
	height: auto;
	display: none;
	float: right; 
}

/***********下拉式選單***********/
/* 隐藏下拉選單 */
.dropdown-menu {
	display: none;
}

/* 鼠标滑到顯示下拉選單 */
.dropdown:hover .dropdown-menu {
	display: block;
}

/* 下拉選單樣式 */
.dropdown-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #fffefcf6;
	border: 1px solid rgba(#eeeaea, 0.5);
}

.dropdown-item {
	padding: 10px 20px;
	text-decoration: none;
	color: #333;
	display: block;
	transition: background-color 0.2s;
}

.dropdown-item:hover { /* 滑動變色 */
	background-color: #bae5f3fb;
	font-weight: bold;
	color: #422E2F;
}

.dropdown li:first-child a::before { /*下拉箭頭符號*/
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fffefcf6;
	margin: -20px 0px 0px 15px;
}

.dropdown li:first-child a:hover::before { /* 滑動變色 */
	border-bottom-color: #bae5f3fb;
}

.btn btn-outline-success {
	border: 1px solid #f2e4e2;
}

/***********搜尋按鈕***********/
#search{
	z-index:999;
}
/* 初始按鈕樣式 */
.btn.btn-outline-success {
	border: 1px solid #422E2F; /* 邊框顏色和樣式 */
	color: #422E2F; /* 文字颜色 */
}

/* 滑鼠滑過或點擊按钮樣式 */
.btn.btn-outline-success:hover, .btn.btn-outline-success:focus {
	border: 1px solid #bae5f3fb; /* 邊框颜色 */
	background-color: #bae5f3fb; /* 背景颜色 */
	color: #422E2F; /* 文字颜色 */
	font-weight: bold;
	
}
/***********購物車按鈕***********/
#CartIcon{
	width:45px;
	height:auto;
	
}
/***********小鈴鐺按鈕***********/
#bellIcon {
   background:url(../img/bell.png);
   width: 40px; 
   height:35px;
   background-size: cover;
   cursor: pointer;
   border: none;
   z-index:1000;
}
/***********登入按鈕***********/
#loginIcon{
   width: 60px;
   height: 60px;
   margin-left: 22px !important;

}